* {
  box-sizing: border-box;
  margin: auto;
}

html body {
  width: 100%;
  margin: 0;
  /* background-color: #4a150d; */
  font-family:'Lato', 'Noto Sans Japanese', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: calc(75.0% + 4 * (100vw - 480px) / 800)
}

img {
max-width: 100%;

}


.wrapper {
  padding: 0 10%;
  /* background-color: #eee0b5; */
  }

.head {
  text-align: center;
  font-size: 1em;
}



/* instagram */
.instagram-gallery {
  overflow: hidden;
}

.img_block {
  display: inline-block;
  padding: 1%;
  width: 33.3%;
}

.img_block a {
  display: block;
  font-size: 0;
}

.caption {
  margin: 0 0 1em 0;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 80%;
  color: #666;
}
